:root{
    --color-col1: #382AE1;
    --color-col1: white;
    --color-col1:black;

}

*,
::after,
::before{
    box-sizing: border-box;
}

html{
    font-family: Roboto,san-serif;
}

body{
   
    padding: 0;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    background-image: url(images/pattern-background-desktop.svg);
    
    background-repeat: no-repeat;
    background-color: rgb(173, 196, 211);
    height:100%;
    background-size: cover;
    font-weight: 400;
    font-size: 1.25rem;
}

section h2{
    font-weight: bolder;
}

section p{
    text-align: center;
}
.container{
    width: 100%;    
    border:0px solid rgb(197, 197, 197); 
    border-radius: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: whitesmoke;

    
    margin: 0 auto;
}
.image img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;   
}

#mid-wrapper{
    display: flex;
    /* grid-template-columns: 20% 40% 20%;
    grid-template-rows: 40% 10%; */
}


#mid-wrapper span{
    /* position: relative; */
}

figure img{
    
}